* {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #17181c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
}
button {
    background: #479fff;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
}

p, h1{
    color: #ffffff;
}